/* 
  Import google fonts
  DM Sans:
    400, 500, 700
  Spartan:
    400, 600, 700
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Spartan:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.richTextContainer > a {
  color: #8850EA !important;
  text-decoration: underline !important;
}

.richTextContainer > ul {
  padding-left: 32px
}

.richTextContainer > ol {
  padding-left: 32px
}