/* 
  Import google fonts
  DM Sans:
    400, 500, 700
  Spartan:
    400, 600, 700
*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Spartan:wght@400;600;700&display=swap');

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-55Rg.ttf');
  font-weight: normal;
  font-style: normal;
  /* font-display: block; */
}

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-56It.ttf');
  font-weight: normal;
  font-style: italic;
  /* font-display: block; */
}

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-65Md.ttf');
  font-weight: 500;
  font-style: normal;
  /* font-display: block; */
}

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-66MdIt.ttf');
  font-weight: 500;
  font-style: italic;
  /* font-display: block; */
}

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-75Bd.ttf');
  font-weight: bold;
  font-style: normal;
  /* font-display: block; */
}

@font-face {
  font-family: 'Neue-Haas-Grotesk-Display';
  src: url('../public/fonts/v2/NueHaas/NHaasGroteskTXPro-76BdIt.ttf');
  font-weight: bold;
  font-style: italic;
  /* font-display: block; */
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: nhg, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*:focus {
  box-shadow: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.richTextContainer > a {
  color: #8850EA !important;
  text-decoration: underline !important;
}

.richTextContainer > ul {
  padding-left: 32px
}

.richTextContainer > ol {
  padding-left: 32px
}

.RichEditor-h1 {
  font-size: 48px; 
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 16px;
}

.RichEditor-h2 {
  font-size: 36px; 
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 14px;
  margin-top: 14px;
}

.RichEditor-h3 {
  font-size: 24px; 
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-top: 12px;
}

.richTextContainer {
  width: 100%;
  min-width: 0px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  transition-property: var(--chakra-transition-property-common);
  transition-duration: var(--chakra-transition-duration-normal);
  padding-top: 8px;
  padding-bottom: 8px;
  min-height: 120px;
  line-height: var(--chakra-lineHeights-short);
  vertical-align: top;
  font-size: var(--chakra-fontSizes-md);
  -webkit-padding-start: var(--chakra-space-4);
  padding-inline-start: var(--chakra-space-4);
  -webkit-padding-end: var(--chakra-space-4);
  padding-inline-end: var(--chakra-space-4);
  height: var(--chakra-sizes-10);
  border-radius: 0 0 var(--chakra-radii-md) var(--chakra-radii-md);
  border: 1px solid;
  border-color: #D0D3D3;
  background: #FFFFFF;
  color: #122224;
  overflow: scroll;
  resize: vertical;
}

.richTextContainer.focus {
  border-color: #8850EA;
}

.dao-card:hover{
  box-shadow: rgba(55, 56, 55, 0.484) 1px 2px 15px 5px;
}

.card{
  height: 80vh;
}

.backBtn{
  position: relative;
  margin-top: 20px;
}

.rightScreenCard{
  position: relative;
  margin-top: 20px;
}

.continueBtn{
  position: relative;
  margin-right: 20px;
}

.barhover {
  background: white;
  padding: 4px 8px;
  font-size: 12px;
  color: #717A7C;
  line-height: 16px;
  filter: drop-shadow(0px 4px 5px rgba(87, 122, 147, 0.06)) drop-shadow(0px 4px 32px rgba(0, 0, 0, 0.07)) drop-shadow(1px 9px 16px rgba(121, 132, 134, 0.06)) drop-shadow(0px 1px 6px rgba(108, 134, 164, 0.1));
}

.apexcharts-xcrosshairs.apexcharts-active {
  opacity: 0 !important;
}

.apexcharts-xaxistooltip.apexcharts-active {
  opacity: 0 !important;
}

@media only screen and (max-width: 600px) {
  .css-18zpb5w, .css-36fyah, .css-txogrl, .css-14csuak, .css-1oioic1, .css-ey1yde, .css-1hubv9n {
    display: none !important;
  }

  .css-101n6fu {
    padding-bottom: 8px !important;
  }

  .css-1008y4k {
    max-height: 80vh !important;
    flex-direction: column !important;
  }

  .css-101n6fu {
    align-self: center;
  }

  .css-tv5y8e, .css-tiwsnw {
    width: 100% !important;
  }

  .css-tiwsnw {
    padding: 0 !important;
  }

  .css-1xhj18k {
    flex-direction: column !important;
  }

  .css-32qh8a {
    display: grid !important;
    grid-column: 50% 50% !important;
    grid-row: 50% 50% !important;
  }

  .css-y8a1hp {
    max-width: 100% !important;
  }
}

@keyframes spinner {to{transform:rotate(1turn)}}
